*{
    padding: 0;
    margin: 0;
}

h1:active {
    color: green;
}
h1{
    font-size: 20px;
   
    
}
#TRYBER{
    color: green;
    
}
#divPerfil{
    background-color: green;
    
}

#minhaFoto{
    width: 250px;
    height: 400px;
    border-radius: 50px;
    margin: 10px;
    display:inline-block;
    width: 15%;
    
}

